@model IEnumerable<QQQ.Mvc5WebUI.Models.QuestionViewModel>

@{
    
}

<div class="center">
  <a id="fullView" class="btn btn-warning" href="#"> Full View </a> 
    <a id="shortView" class="btn btn-warning" href="#"> Short View </a>
</div>

<div style="margin: 10px 0 70px 0;">
	<div class="pull-left">
		<h3><span class="dateTitle">ALL Questins And Answer</span></h3>
	</div>
    <div class="pull-right">
		@Html.ActionLink("Create New", "Create", null, new {@class="btn btn-primary" })
	</div>

</div>
	

<table class="table">
    <tr>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <table class="titleStyle">
                <tr>
                    <td class="titleStyle">
                        @Html.DisplayFor(modelItem => item.Count). &nbsp; &nbsp;
                    </td>
                    <td>
                        <span class="questionStyle">
                            @Html.Raw(item.Question)
                        </span>
                        
                    </td>

                </tr>
            </table>
            
          
            <br />
            <span class="label label-warning">
                @Html.DisplayFor(modelItem => item.Category) ,
                @Html.DisplayFor(modelItem => item.Lavel)
                <span class="badge">@Html.DisplayFor(modelItem => item.Ratting)</span>

            </span>
             
            <br />
            <div hidden="hidden"  class="well well-lg" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:navy; font-size:medium;">
                
                 <b><span>@Html.Raw(item.Answer)</span></b>


                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })       
            </div>

        </td>
    </tr>
}

</table>

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $(".titleStyle").click(function () {
                $(this).siblings(".well").toggle();
            });

            $("#fullView").click(function () {
                $(".well").show(500);
            });
            $("#shortView").click(function () {
                $(".well").hide(500);
            });
        });
       
       
    </script>
}
